<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <img src="assets/icon/favicon.png" alt="Logo" class="logo" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <swiper-container  [slidesPerView]="1" [loop]="true" [autoplay]="true" [pagination]="{type: 'bullets', clickable: true}" >
      <swiper-slide>
        <iframe width="90%" height="auto" src="https://www.youtube.com/embed/voirhSHludw?si=LeYt2_DLd0laffGh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </swiper-slide>
      <swiper-slide>
        <img src="assets/icon/favicon.png" alt="Logo" class="logo" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/icon/favicon.png" alt="Logo" class="logo" />
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
