.content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #1C8C79;
}


ion-toolbar {
  --background: #1C8C79;
  --color: white;
  padding-inline: 10px;
}

ion-menu-button {
  color: var(--ion-color-white);
}

swiper-container {
  --swiper-pagination-color: #1C8C79;
  --swiper-navigation-color: #1C8C79;

  border-bottom: 1px solid #1C8C79;
}

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 250px;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  align-items: start;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.logo {
  width: 50px;
  height: auto;
}
/* Adicione este estilo ao final do seu arquivo scss */

.shortcut-icon {
  font-size: 64px; // Tamanho grande para o ícone
  color: var(--ion-color-primary); // Usa a cor primária do seu app
  margin-bottom: 8px;
}

// Estilo que você já tinha para o texto
.shortcut-text {
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
}

