<ion-content class="login-page">
      <div class="logo-container">
        <div class="logo">
          <ion-img
            src="../../assets/icon/favicon.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
        </div>
      </div>
      
      <div class="form-container">
        <ion-item class="custom-input">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        
        <ion-item class="custom-input">
          <ion-label position="stacked">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        
        <ion-button expand="block" class="login-button" (click)="login()">
          Entrar
        </ion-button>
        
        <ion-button expand="block" fill="outline" class="register-button" (click)="navigateToRegister()">
          Cadastrar
        </ion-button>
        
        <div class="forgot-password">
          <a href="#">Esqueci minha senha</a>
        </div>
      </div>
    </ion-content>